[Unit]
Description=Button to OSC Python3 code
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/patch/sources/lcd/buttonOSC.py

[Install]
WantedBy=multi-user.target