[Unit]
 Description=OSC to LCD
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python3 /home/patch/sources/lcd/lcd.py

 [Install]
 WantedBy=multi-user.target