[Unit]
 Description=SPU status print on LCD
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python3 /home/patch/sources/lcd/status.py

 [Install]
 WantedBy=default.target