[Unit]
Description=Run default PD code
ConditionPathExists=/home/patch/Patches/default.pd
After=multi-user.target jack.service

[Service]
Type=idle
ExecStart=pd -rt -jack ~/Documents/default.pd

[Install]
WantedBy=default.target